{% extends 'pages/abstract/dashboard.html.twig' %}

{% block page_title %}DNS Zone Entries for '{{page.zone.name}}'{% endblock %}

{% block page_description %}Manage the DNS Zone Entries{% endblock %}

{% block body_matter %}
  <div id="zone-entries-table" class="box box-primary">
    <div class="box-header">
      <h3 class="box-title pull-left"><i class="fa fa-fw fa-columns"></i> Entries</h3>
      {% include "tables/table-tool-menu.html.twig" %}
    </div>
    <div class="box-body">
      {% include "tables/zone-entries.html.twig" with {
          "table" : {
            "id" : "table-zone-entries"
          }
        }
      %}
    </div>
    <div class="box-footer">
      <button type="button" class="btn btn-success" id="btn-create-zone-entry">
        <i class="fa fa-plus-square"></i> Create Entry
      </button>
      <button type="button" class="btn btn-success" id="btn-export-zone">
        <i class="fa fa-save"></i> Export To Config
      </button>
    </div>
  </div>
{% endblock %}
{% block scripts_page %}
  <script>
    {% include "pages/partials/page.js.twig" %}
  </script>

  {{ assets.js('js/pages/zone-entries-admin') | raw }}
{% endblock %}
