{% extends '@admin/navigation/sidebar-menu.html.twig' %}

{% block navigation %}
    {{ parent() }}
    {% if checkAccess('uri_dnsadmin') %}
    <li>
        <a href="/dnsadmin"><i class="fa fa-server fa-fw"></i> <span>DNS</span></a>
    </li>
    {% endif %}
{% endblock %}
